/* Fullscreen layout */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111;
}

.viewer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
}

.headerText {
	font-size: 3vw; /* Responsive font size */
	color: #00aaff; /* Optional: Color similar to your image */
	margin-bottom: 2vh;
}

.countdown {
	font-size: 20vw; /* Extremely large font for the countdown */
	font-weight: bold;
}

.currentTime {
	font-size: 10vw; /* Large font for current time */
	margin-top: 2vh;
}
.red {
	color: red;
}

.mirror-y {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.mirror-x {
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.mirror-y.mirror-x {
	-moz-transform: scale(-1, -1); /* Flip both */
	-webkit-transform: scale(-1, -1); /* Flip both */
	-o-transform: scale(-1, -1); /* Flip both */
	-ms-transform: scale(-1, -1); /* Flip both */
	transform: scale(-1, -1); /* Flip both */
}
.buttons {
	position: absolute;
	right: 20px;
	top: 20px;
}
.icon {
	background-color: rgb(17, 17, 17);
	border: 0.5px solid grey;
	border-radius: 10%;
	margin: 5px;
	max-width: 25px;
	max-height: 25px;
}
.icon:hover {
	border-color: white;
}
.rotate90 {
	transform: rotate(270deg); /* Rotate 360 degrees */
}
.buttons {
	display: flex;
	justify-content: center;
}
